.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 90px;
  background: $color-accent;
  color: $color-white;
  height: 42px;
  padding: 16px 32px;
  width: fit-content;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;

  &:hover {
    background: $color-black;
  }
}
