.footer {
    display: none;
}

.footer {

    &__buttons {
        position: absolute;
        display: flex;
        gap: 98px;
        align-items: center;
        bottom: 55px;
        left: 50%;
        transform: translateX(-50%);
        width: max-content;

        @media screen and (max-width: $breakpoint-tablet) {
            background: $color-white;
            padding: 16px 43px;
            width: 290px;
            justify-content: space-between;
            gap: 16px;
            bottom: 26px;
        }

        &.hide {
            display: none;

            @media screen and (max-width: $breakpoint-tablet) {
                display: flex;
                width: min(100vw - 32px, 340px);
                padding: 16px 28px;

                .footer__explore {
                    order: 2;
                    width: auto;
                    height: auto;
                    min-width: 0;
                    background-image: none !important;
                    background-color: transparent;
                    font-size: 0;
                    line-height: 0;
                    text-decoration: none;
                    color: #000;

                    &:after {
                        content: "OPEN PLAN";
                        display: block;
                        color: #000;
                        text-align: center;
                        font-family: "Alan Sans", sans-serif;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 30.225px;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .header__contact {
            display: none;

            @media screen and (max-width: $breakpoint-tablet) {
                display: flex;
                width: 28px;
                height: 28px;
                padding: 0;
                font-size: 0;
                background-color: transparent;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.7582 12.6294L12.5568 15.7482C12.5222 15.8381 12.4552 15.9118 12.3689 15.9545C12.2826 15.9973 12.1834 16.0061 12.0909 15.9792C5.21371 14.0309 4.02772 7.93186 4.01617 7.87025C4.00015 7.78238 4.01521 7.69166 4.05877 7.61368C4.10233 7.53569 4.17168 7.4753 4.25491 7.44286L7.37774 6.24153L4.89026 0C3.83519 0.127064 0.0847131 0.92025 0 5.77178C0.0453369 10.0357 2.73107 13.7204 4.78617 15.8522C6.64613 17.4154 10.3851 20.0568 14.228 19.9991C19.0951 19.9182 19.8768 16.1679 20 15.1129L13.7582 12.6294Z' fill='%23000000'/%3E%3C/svg%3E%0A");
                background-position: center;
                background-repeat: no-repeat;
            }

        }

        .footer__btn {
            color: $color-white;
            font-size: $font-size-xl;
            text-transform: uppercase;
            flex-shrink: 0;
            text-decoration: underline;

            @media screen and (max-width: $breakpoint-desktop) {
                font-size: $font-size-lg;
            }

            @media screen and (max-width: $breakpoint-tablet) {
                display: flex;
                width: 28px;
                height: 28px;
                font-size: 0;
                background-position: center;
                background-repeat: no-repeat;
            }

        } 

        .footer__explore {
            @media screen and (max-width: $breakpoint-tablet) {
                background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0C6.27819 0 0 6.27819 0 14C0 21.7218 6.27819 28 14 28C21.7218 28 28 21.7218 28 14C28 6.27819 21.7218 0 14 0ZM21.5459 8.75339C24.5519 9.96228 26.5263 11.8782 26.5263 14C26.5263 16.1218 24.5518 18.0376 21.5459 19.2466C21.8993 17.6256 22.1054 15.8571 22.1054 14C22.1054 12.1429 21.8993 10.3459 21.5459 8.75339ZM25.6722 9.46144C24.4932 8.42986 22.9021 7.57559 21.0451 6.95617C20.4257 5.09909 19.5714 3.50805 18.5398 2.3291C21.7808 3.59555 24.4045 6.18956 25.6722 9.46144ZM20.6316 13.9998C20.6316 16.0929 20.3368 18.096 19.836 19.8359C18.0676 20.3367 16.0932 20.6314 13.9999 20.6314C11.9067 20.6314 9.93228 20.3367 8.16386 19.8359C7.66304 18.0675 7.3683 16.093 7.3683 13.9998C7.3683 11.9066 7.66304 9.93213 8.16386 8.16371C9.93228 7.66289 11.9067 7.36816 13.9999 7.36816C16.0932 7.36816 18.0676 7.66289 19.836 8.16371C20.3368 9.90333 20.6316 11.9066 20.6316 13.9998ZM14 1.47348C16.1219 1.47348 18.0376 3.44798 19.2466 6.45394C17.6256 6.07055 15.8571 5.89441 14 5.89441C12.1429 5.89441 10.3744 6.1005 8.75339 6.45394C9.96228 3.44792 11.9068 1.47348 14 1.47348ZM9.46164 2.32774C8.43006 3.50669 7.5758 5.0978 6.95638 6.95482C5.0993 7.57424 3.50825 8.4285 2.32931 9.46008C3.59576 6.18909 6.21954 3.59541 9.46164 2.32774ZM6.45444 8.7533C6.07105 10.3744 5.89491 12.1428 5.89491 13.9999C5.89491 15.857 6.101 17.6255 6.45444 19.2465C3.44842 18.0376 1.47398 16.1217 1.47398 13.9999C1.47398 11.8781 3.44848 9.96231 6.45444 8.7533ZM2.32813 18.5383C3.50707 19.5698 5.09818 20.4241 6.9552 21.0435C7.57462 22.9006 8.42888 24.4917 9.46046 25.6706C6.21954 24.4042 3.59579 21.8101 2.32813 18.5383ZM14.0003 26.5262C11.8784 26.5262 9.9627 24.5517 8.75368 21.5458C10.3747 21.8992 12.1432 22.1053 14.0003 22.1053C15.8574 22.1053 17.6259 21.8992 19.2469 21.5458C18.038 24.5518 16.1221 26.5262 14.0003 26.5262ZM18.5387 25.672C19.5702 24.493 20.4245 22.9019 21.0439 21.0449C22.9298 20.4255 24.492 19.5712 25.671 18.5396C24.4045 21.8106 21.7808 24.4043 18.5387 25.672Z' fill='%23000000'/%3E%3Cpath d='M11.0821 10.8469V17.1537C11.0821 17.8319 11.8488 18.274 12.4383 17.9205L17.5962 14.7671C18.1557 14.4137 18.1557 13.5882 17.5962 13.2635L12.4371 10.08C11.8477 9.7266 11.0821 10.1389 11.0821 10.8469Z' fill='%23000000'/%3E%3C/svg%3E%0A");
                order: 2;
            }
        }

        .footer__price {
            @media screen and (max-width: $breakpoint-tablet) {
                background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.6281 22.9194H3.37109V24.8535C3.37109 25.4864 3.88619 26 4.51761 26H21.4799C22.1128 26 22.6264 25.4863 22.6264 24.8535L22.6281 22.9194Z' fill='%23000000'/%3E%3Cpath d='M12.8163 12.9456H12.1621V15.7182H12.8163C13.7357 15.7182 14.1941 15.2557 14.1941 14.3291C14.1941 13.4067 13.7358 12.9456 12.8163 12.9456Z' fill='%23000000'/%3E%3Cpath d='M16.2434 0H5.27737C4.64592 0 4.13086 0.515099 4.13086 1.14651V5.78095H21.1088L16.2434 0Z' fill='%23000000'/%3E%3Cpath d='M8.97757 12.9026H8.07227V14.1456H8.97757C9.45577 14.1456 9.69417 13.9399 9.69417 13.5284C9.69417 13.1112 9.45578 12.9026 8.97757 12.9026Z' fill='%23000000'/%3E%3Cpath d='M24.8549 7.31055H1.14651C0.513646 7.31055 0 7.82565 0 8.45706V20.2429C0 20.8758 0.513682 21.3895 1.14651 21.3895H24.8534C25.4863 21.3895 25.9999 20.8758 25.9999 20.2429L26.0013 8.45851C26.0013 7.82565 25.4877 7.31055 24.8549 7.31055ZM10.1967 14.5132C9.93561 14.7502 9.5695 14.868 9.10126 14.868H8.07252V16.0485C8.07252 16.1961 8.02995 16.3125 7.94339 16.3976C7.85825 16.4827 7.74048 16.5253 7.59432 16.5253C7.44675 16.5253 7.3304 16.4827 7.24526 16.3976C7.16012 16.3125 7.11613 16.1961 7.11613 16.0485V12.6203C7.11613 12.4784 7.15444 12.3677 7.23248 12.2897C7.31053 12.2116 7.41979 12.1733 7.56311 12.1733H9.09986C9.56814 12.1733 9.93423 12.2911 10.1967 12.5281C10.4578 12.765 10.5883 13.0957 10.5883 13.5199C10.5898 13.9456 10.4592 14.2748 10.1967 14.5132ZM14.878 15.4895C14.7006 15.813 14.4424 16.0613 14.1032 16.233C13.7641 16.4047 13.3583 16.4898 12.8857 16.4898H11.6555C11.5122 16.4898 11.4029 16.4515 11.3249 16.3735C11.2468 16.2955 11.2085 16.1862 11.2085 16.0429V12.6203C11.2085 12.4784 11.2468 12.3677 11.3249 12.2897C11.4029 12.2116 11.5122 12.1733 11.6555 12.1733H12.8857C13.3554 12.1733 13.7584 12.2585 14.0975 12.4302C14.4353 12.6004 14.6949 12.8487 14.8751 13.1709C15.0539 13.493 15.1447 13.8789 15.1447 14.3288C15.1433 14.7772 15.0554 15.1645 14.878 15.4895ZM18.7732 12.836C18.6994 12.897 18.5859 12.9268 18.4298 12.9268H16.8207V13.9187H18.3078C18.4625 13.9187 18.5774 13.9499 18.6512 14.0109C18.725 14.0719 18.7619 14.1684 18.7619 14.299C18.7619 14.4252 18.725 14.5189 18.6512 14.5813C18.5774 14.6423 18.4639 14.6721 18.3078 14.6721H16.8207V16.0486C16.8207 16.1961 16.7781 16.3125 16.6944 16.3976C16.6107 16.4828 16.4972 16.5253 16.3553 16.5253C16.212 16.5253 16.097 16.4813 16.009 16.3948C15.9211 16.3068 15.8771 16.1919 15.8771 16.0486V12.6203C15.8771 12.4784 15.9154 12.3677 15.9934 12.2897C16.0715 12.2117 16.1807 12.1733 16.3241 12.1733H18.4298C18.5859 12.1733 18.6994 12.2046 18.7732 12.2656C18.847 12.3266 18.8839 12.4231 18.8839 12.5536C18.8839 12.6799 18.847 12.7735 18.7732 12.836Z' fill='%23000000'/%3E%3C/svg%3E%0A");
                order: 3;
            }
        }
    }

}